.has-custom-width
  width: 40em

figure.image
  overflow: hidden
  border-radius: 999px
  margin: 1em

.content
  margin-left: 2em

@media screen and (max-width: 1024px)
  .has-custom-width
    width: 20em

  .content
    padding: 5px
    margin: 0
