<div  [className]="indexInList % 2 === 1 ? 'box is-flex is-align-items-center is-flex-direction-row-reverse' : 'box is-flex is-align-items-center'">
    <figure class="image is-128x128">
        <img alt="picture" [src]="picture_url">
    </figure>
        <div class="content">
            <p class="has-custom-width">
                <strong>{{fullname}}</strong> <small> at {{congressParticipation}}</small> <small>{{specialty}}</small>
                <br>
                "{{feedback}}"
            </p>
        </div>
</div>
